@import "theme.pcss";

.conatiner{
  position: absolute;
  top: 10%;
  left: 0%;

}
@media screen and (min-width: 420px) {
  .conatiner {
    left: 30%;
  }
}
@media screen and (min-width: 955px) {
  .conatiner {
    left: 40%;
  }
}
