@import "theme.pcss";

:root {
}

body { background-color: var(--man-cream) }

.container{
  margin: var(--margin-xlg);
}
.details{
}
.left{
  lost-column: 1/2 0 0;
}
.right{
  lost-column: 1/2 0 0;
}