@import "theme.pcss";
.container{
  background-color: var(--pilsner-beer);
}
.header{
  padding-left: 25px;
  padding-top: 15px;
  font-size: 3em;
  color: var(--light-beer);
}

.loginImage{
  height : 80px;
  position: relative;
  bottom: 9px;
  left: 15px;
}